@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', serif;
}

body {
  min-height: 100vh;
}

/* FOOTER CONTENT */
.footer {
  background: #3b3054 url("/images/bg-boost-mobile.svg") no-repeat;
  color: white;
  text-align: center;
}

.footer__aside {
  padding: 4em 0;
}

.footer__aside h1 {
  margin-top: 4rem;
  font-size: clamp(2.8em, 2.8vw, 3em);
}

.footer__aside button {
  margin: 1rem 1rem 4rem;
  font-size: 2em;
  font-weight: 700;
  width: 20rem;
  padding: .5em;
  border: 0;
  border-radius: 1.5em;
  background-color: #2acfcf;
  color: white;
}

.panel__social img {
  padding: 2em 1em;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #232127;
  padding: 5em 0;
}

.panel__image {
  color: white;
}

.panel li {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5em;
  list-style: none;
  text-align: center;
  color: #bfbfbf;
}

.panel li:nth-child(4n + 1):not(:last-child) {
  color: white;
}

/* MAIN CONTENT */
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 7.5em 0 0;
  /* top left/right bottom */
}

.main__container picture {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__container img {
  width: 550px;
  height: 100%;
  padding: 1em;
}

.main__container--wrapper {
  padding: 0 2em;
}

.main__container h1 {
  font-size: clamp(4em, 2.5vw, 6em);
}

.main__container p {
  font-size: 1.8rem;
  color: #9e9aa7;
}

.main__container button {
  margin: 3rem;
  font-size: 2em;
  font-weight: 700;
  width: 20rem;
  padding: .7em;
  border: 0;
  border-radius: 1.5em;
  background-color: #2acfcf;
  color: white;
}

/* SHORTEN LINK CONTENT */
.shorten__container {
  text-align: center;
  background: right top #3b3054 url("/images/bg-shorten-mobile.svg") no-repeat;
  padding: 1em;
  color: white;
  width: 90%;
  margin: auto;
  position: relative;
  top: 68px;
  z-index: 4;
  padding: 1.5em;
  border-radius: .8rem;
}

.shorten__container input,
.shorten__container label {
  display: block;
  width: 100%;
  border-radius: .5rem;
}

.shorten__container input {
  margin-bottom: 1.5rem;
  color: #bfbfbf;
  padding: 1em;
  font-weight: 600;
  border: none;
}

.shorten__container label {
  padding: .8em;
  background-color: #2acfcf;
  font-size: 1.5em;
  font-weight: 700;
}

/* CHART CONTENT */
.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #eff0f5;
}

.section__heading {
  margin-top: 14rem;
  font-size: clamp(2.8em, 2.8vw, 3em);
}

.section__paragraph {
  font-size: 1.8rem;
  color: #9e9aa7;
  padding: 1em;
}

.chart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.chart__container hr {
  position: absolute;
  text-align: center;
  left: 49%;
  bottom: 50px;
  margin: 1rem auto;
  height: 750px;
  border: 0;
  z-index: -1;
  border-left: 7px solid #2acfcf;
}

.chart__container--one, .chart__container--two, .chart__container--three {
  background-color: white;
  padding: 0 3em 3em;
  /* top | horizontal | bottom */
  margin: 4rem 2rem;
  /* Vertical | horizontal  */
  border-radius: .5rem;
}

.chart__container img {
  border-radius: 50%;
  background-color: #3b3054;
  position: relative;
  padding: 2em;
  top: -40px;
}

.chart__container h1 {
  font-size: clamp(2em, 2.5vw, 4em);
}

.chart__container p {
  padding-top: 1em;
  font-size: 1.6rem;
  color: #9e9aa7;
}

/* HEADER CONTENT */
.header__container {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 1.5em;
}

.nav__container--logo {
  margin-top: 0.7rem;
  width: 100%;
}

.nav__container--button {
  width: 3rem;
  z-index: 4;
}

.nav__lines {
  width: 30px;
}

.nav__lines--line {
  background-color: #9e9aa7;
  display: block;
  height: 4px;
  width: 100%;
  margin: 0.5rem 0rem;
}

.nav__menu {
  position: fixed;
  inset: 80px 25px 40px;
  /* top left/right bottom */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #3b3054;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  padding: 2rem 3em;
  /* top/bottom left/right */
}

.nav__menu li {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5em;
  list-style: none;
  text-align: center;
}

.nav__menu li:nth-child(6) {
  padding: .5em;
  background-color: #2acfcf;
  border-radius: 3rem;
}

.nav__menu hr {
  display: block;
  border: 0;
  border-top: 1px solid #9e9aa7;
  margin: 1em 0;
}

.nav__menu--link {
  display: inline;
  text-decoration: none;
  color: white;
}

.nav__menu--link:hover {
  color: blueviolet;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menuClose {
  display: none;
}
/*# sourceMappingURL=main.css.map */